<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <h1 v-if="isShow">{{ msg }}</h1> -->

        <!-- <div v-if="num == 0">a</div>
        <div v-else-if="num == 1">b</div>
        <div v-else="num == 1">c</div> -->

        <div v-show="isShow">{{ msg }}</div>
    </div>
    <script>
        let vm =new Vue({
            el:"#app",
            data:{
                msg:"hello world!",
                isShow:false,
                num:0
            }
        })
        console.log(vm);
        
    </script>
</body>
</html>